.app-input {
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 4px;

  input {
    padding: 5px;
    
  }

  .icon-container {
    position: absolute;
    height: 100%;
    right: 0px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    
    .error-icon {
      color: red;
    }
  }
}