:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  width:15rem;
  height: 100%;
  border-right: solid 2px gray;
  padding-top: 30px;

  .menu-item {
    padding: 20px;
    
    .menu-item-selected {
      color:black;
    }

    span {
      cursor: pointer;
      color: gray;

      &:hover {
        color:black;
      }
    }
  }
}

.content {
  padding: 30px;
  height: 100%;
  width: 100%;
}