$table-radius: 4px;

.scroll {
  min-height: 0px;
  height: auto;
  max-height: 100%;
  overflow-y: auto;
  border-bottom: solid 5px lightgray;

  .acc-table {
    min-height: 0px;
    height: auto;
    max-height: 100%;
    background-color: transparent;
    border-bottom-left-radius: $table-radius;
    border-bottom-right-radius: $table-radius;

    &__header-cell {
      color: black;
      background-color: lightgray !important;

      &:first-child {
        border-top-left-radius: $table-radius;
      }
      &:last-child {
        border-top-right-radius: $table-radius;
      }
    }

    &__data-cell {
      color: black;

      &__number {
        float: right;
      }
    }

    &__row {
      cursor: pointer;
      opacity: 0.8;

      &:hover {
        background-color: antiquewhite !important;
      }
    }

    &__row-selected {
      background-color: antiquewhite !important;
      opacity: 1;
    }

    &__header-row {
    }
  }
}