$table-radius: 4px;

.acc-table {
  min-height: 0px;
  height: auto;
  max-height: 100%;
  background-color: transparent;
  border-bottom: solid 5px lightgray;
  border-bottom-left-radius: $table-radius;
  border-bottom-right-radius: $table-radius;

  &__header-cell {
    color: black;
    background-color: lightgray !important;
    border: solid 1px lightgray;

    &:first-child {
      border-top-left-radius: $table-radius;
    }
    &:last-child {
      border-top-right-radius: $table-radius;
    }
  }

  &__data-cell {
    color: black;

    &__number {
      float: right;
    }

    border: solid 1px lightgray;
  }

  &__row {
    cursor: pointer;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  &__row-selected {
    background-color: antiquewhite !important;
  }

  &__header-row {
  }
}
