$table-radius: 4px;

.acc-table {
  min-height: 0px;
  height: auto;
  max-height: 100%;
  background-color: transparent;
  border-bottom: solid 5px lightgray;
  border-bottom-left-radius: $table-radius;
  border-bottom-right-radius: $table-radius;

  .header {
    color: black;
    background-color: lightgray;
    border-top-left-radius: $table-radius;
    border-top-right-radius: $table-radius;
  }
}
