<app-dialog
  title="Счет"
  [body]="body"
  [buttons]="buttons"
  (close)="onCancel()"
></app-dialog>

<ng-template #body>
  <app-label
    class="acc-header-3"
    text="Наименование"
    width="100%"
  ></app-label>

  <app-input
    class="mb-2"
    placeholder="Наименование"
    [control]="getControl('name')"
    width="100%"
  ></app-input>

  <app-label
    class="acc-header-3"
    text="Код"
    width="100%"
  ></app-label>

  <app-input
    class="mb-2"
    placeholder="Код"
    [control]="getControl('code')"
    width="100%"
  ></app-input>
</ng-template>

<ng-template #buttons>
  <app-button
    text="Отмена"
    (buttonClick)="onCancel()"
  ></app-button>

  <app-button
    text="Сохранить"
    [enabled]="formGroup.valid"
    (buttonClick)="onSave()"
  ></app-button>
</ng-template>