<app-dialog
  title="Контрагент"
  [body]="body"
  [buttons]="buttons"
  (close)="onCancel()"
></app-dialog>

<ng-template #body>
  <app-label
    class="acc-header-3 mb-1"
    text="Наименование"
    width="100%"
  ></app-label>

  <app-input
    class="mb-3"
    placeholder="Наименование"
    [control]="getControl('name')"
    width="100%"
  ></app-input>

  <app-label
    class="acc-header-3 mb-1"
    text="Код"
    width="100%"
  ></app-label>

  <app-input
    class="mb-3"
    placeholder="Код"
    [control]="getControl('code')"
    width="100%"
  ></app-input>

  <app-label
    class="acc-header-3 mb-1"
    text="Категория"
    width="100%"
  ></app-label>

  <app-autocomplete
    class="mb-3"
    placeholder="Категория"
    [control]="getControl('category')"
    [items]="(categories$ | async) || []"
    [displayFn]="categoryDisplayFn"
  ></app-autocomplete>

  <app-label
    class="acc-header-3 mb-1"
    text="Тип операции"
    width="100%"
  ></app-label>

  <app-autocomplete
    placeholder="Тип операции"
    [control]="getControl('operationType')"
    [items]="operationTypes"
    [displayFn]="operationTypeDisplayFn"
  ></app-autocomplete>
</ng-template>

<ng-template #buttons>
  <app-button
    text="Отмена"
    (buttonClick)="onCancel()"
  ></app-button>

  <app-button
    text="Сохранить"
    [enabled]="formGroup.valid"
    (buttonClick)="onSave()"
  ></app-button>
</ng-template>