.dialog {
  background-color: white;
  padding: 20px;
  
  .title {
    color: black;
    padding: 0px 10px 10px 0px;
  }

  .body {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px
  }

  .close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
  
    font-size: 32px;
    width: 32px;
    height: 32px;
  
    cursor: pointer;
  }
}