<app-label
  class="acc-header-3"
  text="Наименование"
  width="100%"
></app-label>

<app-input
  class="mb-2"
  placeholder="Наименование"
  [control]="getControl('name')"
  width="100%"
></app-input>

<app-label
  class="acc-header-3"
  text="Код"
  width="100%"
></app-label>

<app-input
  class="mb-2"
  placeholder="Код"
  [control]="getControl('code')"
  width="100%"
></app-input>

<app-label
  class="acc-header-3 mb-1"
  text="Категория"
  width="100%"
></app-label>

<app-autocomplete
  class="mb-3"
  placeholder="Категория"
  [control]="getControl('category')"
  [items]="(categories$ | async) || []"
  [displayFn]="categoryDisplayFn"
></app-autocomplete>
