$item-margin: 40px;

.file-upload {
  display: none;
}

.balances {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .balance {
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: black;
    opacity: 0.8;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: lightgray;
    padding: 5px;
    margin-right: 5px;
    margin-top: 5px;

    .sum {
      font-weight: bold;
      display: flex;
      justify-content: flex-end;
      padding-right: 10px;
    }
  }
}

.operation-item {
  display: flex;
  align-items: center;

  .class_icon {
    margin-right: $item-margin;
  }

  .credit {
    margin-right: $item-margin;
  }

  .arrow {
    margin-right: $item-margin;
  }

  .category {
    margin-right: $item-margin;
  }

  .sum {
    font-weight: bold;
  }
}

.group {
  text-align: center;
  font-weight: 500;
  color: gray;
}

.filter {
  min-width: 0px;
  padding-left: 30px;
}