.acc-button {
  border: solid 2px gray;
  border-radius: 4px;
  background-color: white;
  color: black !important;

  &.disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }

  &:hover:not(.disabled) {
    background-color: lightgray;

    span {
      font-weight: 500;
    }
  }
}