<app-dialog
  title="Операция"
  [body]="body"
  [buttons]="buttons"
  (close)="onCancel()"
></app-dialog>

<ng-template #body>
  <app-label
    class="acc-header-3 mb-1"
    text="Дата"
    width="100%"
  ></app-label>

  <app-date-picker
    class="mb-3"
    placeholder="Дата"
    [control]="getControl('date')"
    type="date"
    width="100%"
  ></app-date-picker>

  <app-label
    class="acc-header-3 mb-1"
    text="Счет"
    width="100%"
  ></app-label>

  <app-autocomplete
    placeholder="Счет"
    [control]="getControl('account')"
    [items]="(accounts$ | async) || []"
    [displayFn]="accountDisplayFn"
  ></app-autocomplete>

  <app-label
    class="acc-header-3 mb-1"
    text="Контрагент"
    width="100%"
  ></app-label>

  <app-autocomplete
    placeholder="Контрагент"
    [control]="getControl('contractor')"
    [items]="(contractors$ | async) || []"
    (optionSelected)="onOptionSelected($event)"
    [displayFn]="contractorDisplayFn"
  ></app-autocomplete>

  <app-label
    class="acc-header-3 mb-1"
    text="Сумма"
    width="100%"
  ></app-label>

  <app-input
    class="mb-3"
    placeholder="Сумма"
    [control]="getControl('sum')"
    type="number"
    width="100%"
  ></app-input>

  <app-label
    class="acc-header-3 mb-1"
    text="Категория"
    width="100%"
  ></app-label>

  <app-autocomplete
    placeholder="Категория"
    [control]="getControl('category')"
    [items]="(categories$ | async) || []"
    [displayFn]="categoryDisplayFn"
  ></app-autocomplete>

  <app-label
    class="acc-header-3 mb-1"
    text="Тип операции"
    width="100%"
  ></app-label>

  <app-autocomplete
    placeholder="Тип операции"
    [control]="getControl('operationType')"
    [items]="OPERATION_TYPE_LOCALIZED"
    [displayFn]="operationTypeDisplayFn"
    (optionSelected)="onOptionSelected($event)"
  ></app-autocomplete>

  <app-label
    class="acc-header-3 mb-1"
    text="Описание"
    width="100%"
  ></app-label>

  <app-input
    class="mb-3"
    placeholder="Описание"
    [control]="getControl('description')"
    width="100%"
  ></app-input>
</ng-template>

<ng-template #buttons>
  <app-button
    text="Отмена"
    (buttonClick)="onCancel()"
  ></app-button>

  <app-button
    text="Сохранить"
    [enabled]="formGroup.valid"
    (buttonClick)="onSave()"
  ></app-button>
</ng-template>